<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Charles Stern | Python + Geoscience</title>
    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- layout -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- typeface -->
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>
    <!-- custom -->
    <link rel= "stylesheet" href= ".static/css/alt.css">
</head>
<!--
<body>
    <div class="w3-row">
        <div class="w3-col w3-container s0 m1 l1"></div>
        <div class="w3-col w3-container s12 m3 l3">
            <img src="{{ url_for('static',filename='img/city_headshot.jpeg') }}" alt="headshot">
        </div>
        <div class="w3-col w3-container s12 m7 l7">
            <h1>Charles Stern</h1>
            <p>
                I'm a newbie scientific Pythonista with an special interest in geospatial analysis and
                visualization. Terra-Param, my largest project to date, integrates scipy, etc.
                <br><br>
                Before I began this, I was a medical device designer and entreprenuer.
                <br><br>            
                I hold a BA in Religion & East Asian Studies from Bowdoin College. 
            </p>

            <a class="social" href="https://twitter.com/charlesstern" target="_blank">
                <i class="fa fa-twitter fa-2x"></i></a>
            <a class="social" href="https://github.com/cisaacstern" target="_blank">
                <i class="fa fa-github fa-2x"></i></a>
            <a class="social" href="https://www.linkedin.com/in/charles-stern-ab965b29/" target="_blank"> 
                <i class="fa fa-linkedin fa-2x"></i></a>
            <a class="social" href="mailto:charlesisaacstern@gmail.com" target="_blank"> 
                <i class="fa fa-envelope fa-2x"></i></a>
        </div>
        <div class="w3-col w3-container s0 m1 l1 w3-blue"></div>
    </div>

</body>
</html>
-->
<body style="">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">

            <div class="row">
              <div class="col-md-4">
                <img src="./static/img/city_headshot.jpeg" alt="Photo of Charles" class="img-me img-fluid">
              </div>
              <div class="col">
                <h1 class="cover-heading">Charles Stern</h1>
                <p>
                    I'm a scientific computing interest in geospatial analysis and visualization.
                    I work in Python and deploy with Docker, Nginx, and DigitalOcean.
                </p>
                <p>
                    Second para.
                </p>
                <p class="social">
                    <a href="https://twitter.com/charlesstern" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                    <a href="https://github.com/cisaacstern" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                    <a href="https://www.linkedin.com/in/charles-stern-ab965b29/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                    <a href="mailto:charlesisaacstern@gmail.com" target="_blank"><i class="fa fa-envelope fa-2x"></i></a>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>